html, body {
  height: auto;
  overflow: hidden;
}

.resdiv{
  width: 100vw;
  height: 100vh;
  padding: 20vh 35vw;
}

.res{
  font-family: Arial, Geneva, Times;
  font-size: 2vw;
}

.btndiv {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.btn {
  color: #61dafb;
  font-family: Arial, Geneva, Times;
  font-size: 2vw;
  border-radius: 20px;
  height: 20vh;
  width: 30vw;
  margin: 40vh 35vw;
}
